@charset "utf-8";
/*reset*/
a, body, dd, div, dl, dt, em, embed, font, form, h1, h2, h3, h4, h5, h6, hr, html, i, iframe, input, img, label, li, object, ol, p, section, span, strong, table, tbody, td, tfoot, th, thead, tr, tt, u, ul { margin: 0; padding: 0; }
html, body { height: 100%; }
b, strong { font-weight: bold; }
img { color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; border:0;}
ol, ul { list-style: none; }
li { display: list-item; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration:none;}
a:hover { color:#F00; text-decoration:underline;}
/*base*/
body { font-size:12px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; -webkit-text-size-adjust:none;}
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.cl:before, .cl:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.cl:after { clear: both; }
.cl { zoom: 1; }
.inner { width:980px; margin:0 auto;}
.none { display:none;}
.fl { float:left;}
.fr { float:right;}
.a_link { text-decoration:underline; color:#F00;}
/**S-全局头部**/
.header { border-bottom:4px solid #CA4E4E; padding-bottom:10px; background:url(/images/header_line.jpg) center bottom repeat-x;}
.header .inner { background:url(/images/header.png) center top no-repeat;}
/**S-全局主体**/
.banner { background:#f5f5f5;}
.container { padding:0 0 20px;}
/**S-全局页码**/
.pagelist { text-align:center; padding:30px 0;}
.pagelist i {display:block; float:right;line-height:20px; font-style:normal;}
.pagelist i em { font-style:normal; margin:0 4px; font-weight:bold;}
.pagelist span,.pagelist a { display:block; float:left; display:inline; margin-right:10px;}
.pagelist span { border:1px solid #DDD; height:20px; line-height:20px; padding:0 8px;}
.pagelist span.disable { border-color:#DDD; color:#999;}
.pagelist span.cur { background:#C00; color:#FFF;border-color:#333;}
.pagelist a { border:1px solid #aaa; height:20px; line-height:20px; padding:0 8px; color:#333;}
.pagelist a:hover { border-color:#C00; color:#C00; text-decoration:none;}
/**S-全局底部**/
.fot{height:95px; padding-top:15px; background:#ececec; margin-top:20px;}
.fot_cnt{margin:0 auto; width:980px;}
.fot_left{float:left; width:490px; background:url(../images/fbg.gif) no-repeat right center;}
.fot_left img{float:left;}
.fot_left div{float:right; width:400px;}
.fot_left .div1{font-size:22px; line-height:28px;}
.fot_left .div2{font-size:16px; line-height:24px;}
.fot_left .div3{font-size:12px; font-family:Tahoma; line-height:16px;}
.footer { padding:30px 0; background:#333333; border-top:2px solid #cc0000;}
#service_cnt{position:fixed!important;position:absolute;right:0;top:210px;top:expression(offsetParent.scrollTop+offsetParent.clientHeight-500);cursor:pointer;z-index:999; float:right; width:75px;}
#service_cnt a{display:block; position:absolute; right:0; width:75px; height:32px; text-align:center; color:#fff; line-height:14px; padding-top:33px;}
#service_cnt a:hover{width:90px; text-decoration:none;}
#service_cnt .s_red{background:url(/images/s_red.png) no-repeat center 5px #b22325; top:0;}
#service_cnt .s_red:hover{background-color:#c22c2e;}
#service_cnt .s_blue{background:url(/images/s_blue.png) no-repeat center 5px #539cbf; top:65px;}
#service_cnt .s_blue:hover{background-color:#5bacd2;}
#service_cnt .s_green{background:url(/images/s_green.png) no-repeat center 5px #a0ab10; top:130px;}
#service_cnt .s_green:hover{background-color:#acb71b;}
/**S-布局结构块**/
.layer1, .layer2, .layer3, .layer4, .layer5, .layer6, .layer7, .layer8, .layer9, .layer10, .layer11, .layer12, .layer13, .layer14, .layer15, .layer16, .layer17 { display:inline;}
.layer1 { width:115px; margin-top:10px;}
.layer2 { width:552px;}
.layer3 { height:60px;}
.layer4 { width:830px; padding-right:25px;}
.layer5 { height:350px; width:266px; height:358px; overflow:hidden; margin:30px 0;}
.layer6 { width:680px; height:350px; padding-top:8px; margin:30px 0; overflow:hidden;}
.layer7 { width:690px; height:241px; margin-bottom:30px;}
.layer9 { width:330px; height:352px; overflow:hidden; margin-right:30px;}
.layer10 { width:330px; height:352px; overflow:hidden;}
.layer11 { width:260px; height:241px; margin-bottom:30px;}
.layer12 { width:260px; margin-bottom:30px;}
.layer13 { width:980px; overflow:hidden; display:none;}
.layer14 { width:720px;}
.layer15 { width:180px; padding:0 35px;}
.layer16 { width:980px; padding-top:20px;}
.layer17 { width:980px;}




.newindexaddd1{width:100%;height:30px;}
.newindexaddd1 ul {width:100%;height:30px;background: #eee;}
.newindexaddd1 ul li{float:left;color:#8d8c8c;height:30px;padding:0px 15px;line-height:30px;font-size:14px;
	cursor: pointer;
	}
.newindexaddd1 ul li.select{background: #cc0000;color:#fff;}

.newindexaddd2{width:100%;height:180px;padding:15px 0px;}

.newindexaddd2 .newindexsplis{width:100%;height:180px;overflow:hidden;position: relative;}
.newindexaddd2 .newindexsplis .btn{width:11px;height:180px;background-repeat:no-repeat;background-image: url(/images/newindexspbtn.png);
	background-color: #dddddd;position:absolute;top:0px;cursor: pointer;
	}
.newindexaddd2 .newindexsplis .btn.select{background-image: url(/images/newindexspbtn2.png);}
.newindexaddd2 .newindexsplis .rightbtn{background-position: -11px 81px;right:0px;}
.newindexaddd2 .newindexsplis .leftbtn {background-position: 0px 81px;left:0px;}
.newindexaddd2 .newindexsplis .splis{width:900px;margin:0px auto;height:180px;overflow-x:hidden;overflow-y:hidden;}
.newindexaddd2 .newindexsplis .splis ul{width:999999px;}
.newindexaddd2 .newindexsplis .splis li{float:left;width:198px;height:142px;margin-right:35px;}
.newindexaddd2 .newindexsplis .splis .p1{width:198px;height:114px;}
.newindexaddd2 .newindexsplis .splis .p1 img{width:198px;height:114px;}
.newindexaddd2 .newindexsplis .splis .p2{width:178px;background:url(/images/newindexspbanner2.png) 0px 7px no-repeat;height:16px;line-height:16px;padding:7px 0px 7px 20px;
	}
.newindexaddd2 .newindexsplis .splis .p2 {font-weight: bold;color:#115979;font-size:14px;}
.newindexaddd2 .newindexsplis .splis .p3{color:#000;line-height:16px;display:block;}

.newindexrhjx{width:100%;background:#f5f5f5;padding:30px 0px 50px;}
.newindexrhjxinner{width:980px;margin:0px auto;}
.newindexrhjxinner .titd1{font-weight: bold;font-size:20px;color:#cc0000;padding-bottom:15px;border-bottom:2px solid #dddddd;}
.newindexrhjxinner .titd2{padding:15px 0px;}
.newindexrhjxinner .titd2 p{height:20px;line-height:20px;color:#515151;font-size:12px;}
.newindexrhjxinner .ul1{}
.newindexrhjxinner .ul1 li{float:left;width:412px;height:128px;padding-bottom:30px;}
.newindexrhjxinner .ul1 li .d1{width:410px;height:99px;border:1px solid #cc0000;}
.newindexrhjxinner .ul1 li .d1 .p1{width:126px;height:99px;float:left;}
.newindexrhjxinner .ul1 li .d1 .d1_d2{padding-left:22px;float:left;width:260px;}
.newindexrhjxinner .ul1 li .d1 .d1_d2 .d1_d2_p1{color:#000;font-size:16px;font-weight: bold;padding-top:15px;}
.newindexrhjxinner .ul1 li .d1 .d1_d2 .d1_d2_p2{color:#666666;padding-top:8px;}
.newindexrhjxinner .ul1 li .d2{padding-top:10px;}
.newindexrhjxinner .ul1 li .d2 .d2_p1{float:left;font-size:12px;}
.newindexrhjxinner .ul1 li .d2  a{color:#cc0000;float:right;text-decoration: underline;font-size:12px;}
.newindexrhjxinner .huojianghezuo1{background:url(/images/newindexspbanner3_1.png) 0 0 no-repeat #cc0000;}
.newindexrhjxinner .huojianghezuo2{background:url(/images/newindexspbanner3_2.png) 0 0 no-repeat #cc0000;}
.newindexrhjxinner .huojianghezuo3{background:url(/images/newindexspbanner3_3.png) 0 0 no-repeat #cc0000;}
.newindexrhjxinner .huojianghezuo4{background:url(/images/newindexspbanner3_4.png) 0 0 no-repeat #cc0000;}

.newfooter{width:100%;background: #fff;padding:0px 0px 20px;}
.newfooterinner{width:980px;margin:0px auto;}
.newfooterinner .d1{background: url(../images/newfooterbg.png) left bottom no-repeat;padding:35px 0px 30px;
	border-bottom:1px solid #bcbcbc;width:980px;
	}
.newfooterinner .d1 .d1_1{float:left;width:715px;}
.newfooterinner .d1 .d1_1 .d1_1d{width:140px;float:left;margin-right:30px;}
.newfooterinner .d1 .d1_1 .d1_1d .tit2{width:100%;font-size:14px;color:#cc0000;font-weight: bold;padding-bottom:10px;
	border-bottom:1px solid #bcbcbc;
	}
.newfooterinner .d1 .d1_1 .d1_1d ul{padding-top:10px;}
.newfooterinner .d1 .d1_1 .d1_1d ul li{height:26px;line-height:26px;}
.newfooterinner .d1 .d1_1 .d1_1d ul li a{color:#666666;}
.newfooterinner .d1 .d1_1 .d1_1d ul li a:hover{color:#cc0000;text-decoration: none;}
.newfooterinner .d1 .d1_1 .d1_1d .ge1{height:55px;}
.newfooterinner .d1 .d1_1 .d1_1d .ge2{height:29px;}

.newfooterinner .d1 .d1_2{float:right;padding-right:40px;}
.newfooterinner .d1 .d1_2 .d2_d1{width:170px;}
.newfooterinner .d1 .d1_2 .d2_d1 .logod{width:128px;height:155px;margin:0px auto;background:url(/images/newlogo1.png) 0 0 no-repeat;
	}
.newfooterinner .d1 .d1_2 .d2_d1 .p1{text-align: center;color:#666666;line-height:18px;padding:15px 0px;}
.newfooterinner .d1 .d1_2 .d2_d1 .btn{text-align: center;height:18px;width:100%;}
.newfooterinner .d1 .d1_2 .d2_d1 .btn a{display:inline-block;width:23px;height:18px;background-repeat: no-repeat;
	background-position: 0px 0px;margin:0px 5px;
	}
.newfooterinner .d1 .d1_2 .d2_d1 .btn a.a1{background-image: url(/images/voice-icon1_1.png);}
.newfooterinner .d1 .d1_2 .d2_d1 .btn a.a2{background-image: url(/images/voice-icon1_2.png);}
.newfooterinner .d1 .d1_2 .d2_d1 .btn a.a3{background-image: url(/images/voice-icon1_3.png);}
.newfooterinner .d1 .d1_2 .d2_d1 .btn a.a4{background-image: url(/images/voice-icon1_4.png);}
.newfooterinner .d2{color:#666;padding:20px 0px;}
.newfooterinner .d2 span{color:#cc0000;}
/*
.newfooterinner .d3 {text-align: center;padding:15px 0px;}
.newfooterinner .d3 a{font-weight:bold;color:#666;margin:0px 10px;}
*/
.newfooterinnerd3{text-align: center;padding:10px 0px;width:980px;margin:0px auto;border-top:1px dotted #cc0000;}
.newfooterinnerd3 a{font-weight:bold;color:#666;display:inline-block;height:18px;line-height:18px;}
.newfooterinnerd3 span{background: url(/images/newindexbottom1.png) 0px 12px no-repeat;display:inline-block;width:2px;height:18px;line-height:18px;margin:0px 10px;}

.videoiframecengbg{position:fixed;width:100%;height:100%; filter:alpha(opacity=70);opacity: 0.7;
	background:#000;left:0px;top:0px;z-index:700;
	 }
.videoiframeinner{width:484px;height:390px;background: #fff;
	position:fixed;z-index:999;
	}

.videoiframeinner_tit{height:30px;padding:10px 0px;}
.videoiframeinner_tit_p1{float:left;font-size:14px;font-weight: bold;color:#115979;height:30px;line-height:30px;
	width:350px;overflow:hidden;
	}
.videoiframeinner_tit_gbbtn{float:right;font-size:14px;font-weight: bold;color:#5d5d5d;height:30px;line-height:30px;
	cursor:pointer;
	}
.videoiframeinner_cont{width:448px;height:374px;padding:0px;margin:0px auto;}
.videoiframeinner_videowin{width:448px;height:323px;overflow:hidden;}
.videoiframeinner_jieshaod3{width:448px;height:40px;line-height:20px;color:#5d5d5d;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
	font-size:12px;padding-top: 15px;
	}



.xjA{width:815px;margin:30px auto;}
.xjA_d1{text-align: center;font-size:32px;font-weight: bold;color:#cc0000;}
.xjA_d2{font-size: 20px;color:#444;text-align: center;}
.xjA_d3{font-size:16px;color:#666;text-align: center;}
.xjA_d3 span{font-size:18px;color:#cc0000;}
.xjA_btn1{width:486px;height:46px;background:url(/images/xjAbtn1.png) 0 0 no-repeat;color:#fff;text-align: center;font-size:20px;line-height:46px;display: block;margin:35px auto 55px;}
.xjA_d4{width:813px;border:1px solid #ddd;}
.xjA_d4_1{width:760px;margin:0px auto;padding:15px 0px 15px 16px;color:#cc0000;font-size:18px;border-bottom:1px solid #ddd;}
.xjA_d4_2{padding:10px 0px;}
.xjA_d4_2 li{font-size:14px;padding-left:32px;height:25px;line-height:25px;}
.xjA_d5{padding:30px 0px 65px 32px;color:#777;line-height:20px;}
.xjA_d5 div.xjA_d5_1{padding-bottom:10px;}
.xjA_d5 .sp1{text-decoration: underline;color:#cc0000; }
.xjA_d6{color:#cc0000;font-size:18px;padding-bottom:10px;}
.xjA_d7{font-size:14px;}
.xjA_d8{padding:40px 0px;}
.xjA_d8 li{float:left;width:407px;height:50px;padding-bottom:28px;}
.xjA_d8 li img{width:113px;height:50px;}
.xjA_d8_2{padding-left:10px;}
.xjA_d8_2 *{color:#515151;}
.xjA_d8_2 p span{color:#cc0000;}
.xjA_d8_2 p{padding-top:5px;}
.xjA_d8_2 p b{margin-right:5px;}
.xjAzkzhd1{padding-top:40px;}
.xjAzkzhd1_1 table{width:413px;}
.xjAzkzhd1_1 table td{border:1px solid #dddddd;padding:10px 0px;text-align: center;color:#444444;}
.xjAzkzhd1_1 table td b.b1{color:#333333;}
.xjAzkzhd1_1 table td b.b2{color:#cc0000;}
.xjAzkzhd1_2{padding-top:27px;padding-left:30px;}
.xjAzkzhd1_2 p.p1{padding-bottom:16px;font-size:13px;color:#cc0000;}
.xjAzkzhd1_2 p.p2 {padding-bottom:22px;}
.xjAzkzhd1_2 p.p2 span{color:#cc0000;}
.xjAzkzhd2{padding-bottom:40px;}
.xjAzkzhd2 li{float:left;width:244px;height:66px;border:1px solid #dddddd;padding:10px;margin-right:8px;}
.xjAzkzhd2 li .d1{font-size:16px;color:#cc0000;padding:5px 0px 10px;border-bottom:1px solid #ddd;}
.xjAzkzhd2 li .d2{font-size:12px;color:#333333;padding-top:10px;}
.xjAzkzhd2 li .d2 span{color:#cc0000;}
.xjAzkzhd2 li.floatr{float:right;margin:0px;}
.xjAzkzhd6{height:323px;margin:40px 0px;}
.xjAzkzhd7{width:793px;border:1px solid #ddd;padding:20px 10px 20px;color:#666;}
.xjAzkzhd7_1 {font-weight: bold;color:#cc0000;padding-bottom:20px;font-size:14px;}
.xjAzkzhd7_2{font-weight: bold;}
.xjAzkzhd7_3{padding:40px 0px 20px;}
.xjAzkzhd7_3 li{line-height:14px;padding-bottom:25px;}
.xjAzkzhd3{font-size:16px;}
.xjAzkzhd4{padding:20px 0px;}
.xjAzkzhd4 li{font-size:14px;color:#cc0000;height:20px;line-height:20px;}

.rongyujiangxiang{width:980px;padding:50px 0px;margin:0px auto;position:relative;}
.rongyujiangxiangd1{font-size:28px;padding-bottom:16px;border-bottom: 1px solid #cc0000;}
.rongyujiangxiangd2{font-size:28px;text-align: center;line-height:32px;padding:36px 0px 26px;}
.rongyujiangxianginner{width:877px;margin:0px auto;}
.rongyujiangxiangd3_1{width:260px;}
.rongyujiangxiangd3_1 img{width:260px;height:251px;}
.rongyujiangxiangd3_2{width:576px;padding-left:30px;line-height:24px;}
.rongyujiangxiangd3_2_1{padding-top:15px;}
.rongyujiangxiangd3_2_2{padding:20px 0px;border-bottom:1px solid #cc0000;background: #eeeeee;margin-top:20px;}
.rongyujiangxiangd6_1{width:419px;height:500px;border:1px solid #b3b3b3;padding:10px;}
.rongyujiangxiangd6_1 img{width:419px;height:500px;}
.rongyujiangxiangd6_2{width:386px;}
.rongyujiangxiangd6_2 p.p1{font-size:18px;color:#cc0000;padding-top:15px;}
.rongyujiangxiangd6_2 p.p2{line-height:22px;color:#515151;padding-top:33px;}
.rongyujiangxiangd7{font-weight: bold;color:#cc0000;padding:20px 0px;font-size:14px;line-height:24px;}
.rongyujiangxiangd4{line-height:24px;padding:45px 0px 30px;}
.rongyujiangxiangd4 p{padding-bottom:20px;}
.rongyujiangxiangd5{font-size:14px;font-weight: bold;color:#cc0000;}
.rongyujiangxiang_stpd1{background: url(../images/stpbgimg1.jpg) 682px top no-repeat;padding:50px 340px 20px 0px;}
.rongyujiangxiang_stpd1 p{line-height:24px;padding-bottom:30px;}
.rongyujiangxiang_stpd2{padding-top:30px;}
.rongyujiangxiang_stpd2 li{float:left;width:340px;margin-right:90px;}
.rongyujiangxiang_stpd2 .videod{width:338px;height:254px;overflow: hidden;}
.rongyujiangxiang_stpd2 .videod img{width:338px;height:254px;}
.rongyujiangxiang_stpd2 .js{padding:25px 0px;line-height:20px;}
.rongyujiangxiang_stpd3{font-size:24px;}
.rongyujiangxiang_stpd4{padding:30px 0px;position:relative;width:100%;}
.rongyujiangxiang_stpd4 .rongyujiangxiang_stpd4_1{float:left;width:218px;margin-right:20px;}
.rongyujiangxiang_stpd4 .rongyujiangxiang_stpd4_1 p.p1{width:216px;height:289px;border:1px solid #b9b9b9;}
.rongyujiangxiang_stpd4 .rongyujiangxiang_stpd4_1 p.p1 img{width:216px;height:289px;}
.rongyujiangxiang_stpd4 .rongyujiangxiang_stpd4_1 p.p2{padding:20px 0px;text-align: center;}
.rongyujiangxiang_stpd4 .rongyujiangxiang_stpd4_1 p.p2 a{text-decoration: underline;color:#cc0000; }

.rongyujiangxiangchkanimg{position: absolute;width:502px;height:0px;
	top:0px;background: #fff;overflow:hidden;z-index: 9;left:0px;
	}
.rongyujiangxiangchkanimg .czdiv{position:absolute;left:0px;top:0px;z-index: 5;}
.rongyujiangxiangchkanimg .closebtn{position: absolute;right:0px;top:0px;z-index:5;width:30px;height:30px;}
.rongyujiangxiangchkanimg .closebtn img{cursor: pointer;}
.rongyujiangxiangchkanimg2{position:absolute;z-index:9999;background:#fff;width:100%;height:100%;left:0px;top:0px;}
.rongyujiangxiang5{line-height:24px;padding:50px 0px;}
.rongyujiangxiangyyjxd1{line-height:24px;padding:30px 0px;}
.rongyujiangxiangyyjxd2{}
.rongyujiangxiangyyjxd2 li{float:left;width:412px;height:128px;padding-bottom:60px;}
.rongyujiangxiangyyjxd2 li .d1{width:410px;height:99px;border:1px solid #cc0000;}
.rongyujiangxiangyyjxd2 li .d1 .p1{width:126px;height:99px;float:left;}
.rongyujiangxiangyyjxd2 li .d1 .d1_d2{padding-left:22px;float:left;}
.rongyujiangxiangyyjxd2 li .d1 .d1_d2 .d1_d2_p1{color:#000;font-size:16px;font-weight: bold;padding-top:10px;}
.rongyujiangxiangyyjxd2 li .d1 .d1_d2 .d1_d2_p2{color:#666666;padding-top:5px;}
.rongyujiangxiangyyjxd2 li .d2{padding-top:10px;}
.rongyujiangxiangyyjxd2 li .d2 .d2_p1{float:left;font-size:12px;}
.rongyujiangxiangyyjxd2 li .d2  a{color:#cc0000;float:right;text-decoration: underline;font-size:12px;}
.rongyujiangxiangyyjxd2 .huojianghezuo1{background:url(/images/newindexspbanner3_1.png) 0 0 no-repeat #cc0000;}
.rongyujiangxiangyyjxd2 .huojianghezuo2{background:url(/images/newindexspbanner3_2.png) 0 0 no-repeat #cc0000;}
.rongyujiangxiangyyjxd2 .huojianghezuo3{background:url(/images/newindexspbanner3_3.png) 0 0 no-repeat #cc0000;}
.rongyujiangxiangyyjxd2 .huojianghezuo4{background:url(/images/newindexspbanner3_4.png) 0 0 no-repeat #cc0000;}
.rongyujiangxiangyyjxd2 .huojianghezuo5{background:url(/images/newindexspbanner3_5.png) 0 0 no-repeat #cc0000;}

.rongyujiangxiangd8{width:553px;height:369px;margin:10px auto 30px;border:1px solid #b3b3b3;padding:10px;}
.rongyujiangxiangd8 img{width:553px;height:369px;}

.rongyujiangxiangSP1 li{width:275px;padding:10px 7px;height:275px;float:left;margin-right:55px;}
.rongyujiangxiangSP1 .p1{width:275px;height:157px;}
.rongyujiangxiangSP1 .p1 img{width:275px;height:157px;}
.rongyujiangxiangSP1 .p2{background: url(/images/stpbgimg2.jpg) 0px 11px no-repeat;line-height:16px;padding:10px 0px 10px 25px;}
.rongyujiangxiangSP1 .p2 a{color:#000;font-size:14px;}
.rongyujiangxiangSP1 .p2 a:hover{text-decoration: underline;color:#cc0000;}
.rongyujiangxiangSP1 .p3 span{width:220px;color:#515151;}
.rongyujiangxiangSP1 .p3 a{width:40px;height:24px;text-align: center;line-height:24px;background: #830000;color:#fff;}
.rongyujiangxiangSP1 li.floatr{float:right;margin:0px;}

.rongyujiangxiangd11{width:471px;height:411px;margin:0px auto;overflow: hidden;}
.rongyujiangxiangd12{padding-top:30px;}
.rongyujiangxiangd12_d1{text-align: center;width:330px;}
.rongyujiangxiangd12_d2{width:545px;padding-top:40px;}
.rongyujiangxiangd12_d2 p{line-height:24px;padding-bottom:20px;}



