*{margin:0; padding:0; font-size:12px; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; color:#515151;}
a{text-decoration:none;}
ul,li{margin:0; padding:0; list-style:none;}
img{vertical-align:middle; border:0;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.clear{clear:both; line-height:0; height:0; font-size:0;}
.none{display:none;}
.white{color:#ccc!important; cursor:default;}

.header{width:100%; height:156px; background:url(../images/header_bg.gif) repeat-x left bottom;}
.top{width:980px; margin:0 auto; height:154px; background:url(../images/top_bg.png) no-repeat 60px top; border-bottom:2px solid #bc0101; position:relative;}
.lang{padding:17px 17px 0; color:#dd0909; height:30px;}
.lang div{ float:left; line-height:20px; }
.en{ background:url(../images/en.gif) no-repeat 5px center; padding-left:30px; margin-right:10px; width:50px; margin-left:10px; position:relative; }
.en_on{background:url(../images/en.gif) no-repeat 5px center #454a4d; color:#fff;}
.en ul{ position:absolute; background:#454a4d; width:80px; top:20px; left:0; display:none; }
.en ul li a{height:20px; line-height:20px; padding-left:30px; color:#fff; cursor:pointer;}
.lang_on{background-color:#999!important;}
.zh{background:url(../images/zh.gif) no-repeat 5px center;}
.jp{background:url(../images/jp.gif) no-repeat 5px center;}

.welcome{line-height:24px; padding-left:17px;}
.welcome strong{font-size:14px;}
.welcome a{color:#dd0909; font-weight:bold;}
.intro{line-height:22px; padding-left:17px;}
.intro strong{color:#dd0909;}
.intro span{color:#cccccc;}
.logo{position:absolute; right:33px; bottom:-17px;}

.cnt{width:980px; margin:0 auto;}
.current{padding-top:10px; line-height:40px; height:40px; padding-left:17px;}
.mtitle{background:url(../images/title_bg.gif); height:62px; text-align:center; line-height:62px;  color:#e00404; font-size:14px; font-weight:bold; margin-bottom:20px; position:relative;}
.mtitle_img{position:absolute; background:url(../images/title_img.png); width:40px; height:50px; right:0; top:10px;}

/**S-页面通用模块**/
.inner h1 { font-size:30px; line-height:70px; color:#C00;}
.block { margin-bottom:30px;}
.block .title { border-top:1px solid #C7C7C7; margin-bottom:20px; zoom:1; overflow:hidden;}
.block .title h2 { border-top:5px solid #535353; float:left; padding:0 10px; line-height:30px; font-size:20px;}
.block .title span { display:block; float:right; line-height:35px; font-size:18px; color:#999;}
.block .block-con { width:980px; overflow:hidden;}
/**S-账户类型表单模块**/
.account { width:1200px;}
.account-box { width:290px; display:inline; padding-right:27px; border-right:1px solid #C00; margin-right:27px; float:left; margin-bottom:50px;}
.account-box h3 { height:80px; font-size:24px; background:url(../images/account.png) no-repeat;}
.account-box a.jia { line-height:28px; height:28px; font-size:18px; color:#333; font-weight:bold; padding-left:35px; display:block; margin-top:-40px; margin-bottom:20px; background:url(../images/jia.png) no-repeat;}
.account-box .table table { width:200px; float:left;}
.account-box .table table td { line-height:24px; text-align:center; border:1px solid #DDD;}
.account-box .table table td a { color:#C00; text-decoration:underline;}
.account-box .table a.rj-btn { display:block; float:right; width:40px; line-height:18px; font-size:20px; padding:7px 20px; color:#FFF;}
.wx h3 { color:#A7AA00;background-position: right 0;}
.wx a.jia { background-position: 0 0;}
.wx .table .rj-btn { background:#A7AA00;}
.bz h3 { color:#5CABD8;background-position: right -80px;}
.bz a.jia { background-position: 0 -28px;}
.bz .table .rj-btn { background:#5CABD8;}
.ty h3 { color:#D89C1D;background-position: right -160px;}
.ty a.jia { background-position: 0 -56px;}
.ty .table .rj-btn { background:#D89C1D;}
.stp h3 { color:#C75857;background-position:right -240px;}
.stp a.jia { background-position:0 -84px;}
.stp .table .rj-btn { background:#C75857;}
.dis h3 { color:#C74513;background-position:right -320px;}
.dis a.jia { background-position:0 -112px;}
.dis .table .rj-btn { background:#C74513;}
/**S-功能区域模块**/
.gn-box { width:1200px;}
.gn-box li { float:left; display:inline; width:290px; margin-right:55px; margin-bottom:30px;}
.gn-box li a { color:#333; display:block; padding:20px 30px 0; border:1px solid #DDD; border-top:5px solid #DDD; height:80px; background:url(../images/btn.png) right center no-repeat;}
.gn-box li a:hover { border-top:5px solid #C00; text-decoration:none; color:#C00;}
.gn-box li a span { display:block; width:135px; font-size:24px; font-weight:bold; background:url(../images/list.png) center right no-repeat;}
.gn-box li a em { font-style:normal; line-height:24px;}

/**公司新闻模块**/
.news .tab-card { background:#666; margin-bottom:10px; zoom:1; overflow:hidden;}
.news .tab-card ul li { float:left;}
.news .tab-card ul li a { display:block; padding:0 20px; color:#FFF; line-height:30px; font-size:14px; cursor:pointer;}
.news .tab-card ul li a:hover { background:#333; color:#FFF; text-decoration:none;}
.news .tab-card ul li.active a { background:#C00; color:#fff; text-decoration:none;}
.news .tab-con ul li { border-bottom:1px solid #DDD;}
.news .tab-con ul li span { display:inline-block; width:130px; line-height:35px; color:#666;}
.news .tab-con ul li a { display:inline-block; line-height:35px; color:#333;}
.news .tab-con ul li a:hover { color:#F00;}
.news .tab-con dl { padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #ddd;}
.news .tab-con dl dd.img-box { width:300px; height:150px; float:left; background:#EEE;}
.news .tab-con dl dd.img-box a img { width:300px; height:150px;}
.news .tab-con dl dt { width:350px; height:40px; float:right; font-weight:bold; font-size:14px; line-height:40px;}
.news .tab-con dl dt a { color:#C00;}
.news .tab-con dl dd.txt-box { width:350px; height:110px; float:right;}
.news .tab-con dl dd.txt-box p { color:#666; margin-bottom:10px;}
.news .tab-con dl dd.txt-box a.more { display:block; line-height:30px; width:100px; text-align:center; background:#C00; text-align:center; color:#FFF;}


.member_cnt{ margin:0 auto; border:1px solid #cccccc; padding:30px 0 0; }

.pwd_tb{ width:500px; margin:0 auto; }
.member_ipt{border:1px solid #c4c4c4; background:#fff; width:240px; height:24px; line-height:24px; padding:0 5px;}
.acd{ width:40px; }
.tel{ width:183px; }
.notice{color:#F00;}
.button{ background:url(../images/button.png); width:100px; padding-left:12px; height:34px; line-height:34px; color:#fff; font-size:14px; text-align:center; font-weight:bold; cursor:pointer; }



.mb_tb{width:660px; margin:0 auto;}
.mb_tb a{text-decoration:underline; font-weight:bold; color:#e00404;}
.edit_email{float:right; padding-right:50px;}

.line{background:url(../images/line.gif) no-repeat left bottom; line-height:32px; padding-left:24px; font-size:16px; font-weight:bold; color:#dd0909; font-family:"微软雅黑"}

.pay td{line-height:20px;}
.pay td strong{line-height:30px; color:#dd0909; font-size:14px;}






.search{width:600px; margin:0 auto; zoom:1; overflow:hidden;}
.search li{float:left; line-height:26px; padding:0 5px;}
.search li .search_ipt{width:96px; height:24px; line-height:24px;}
.search .w{padding-left:20px;}
.search_btn{clear:both; padding:20px 60px; zoom:1; overflow:hidden;}
.search_btn div{float:left; margin-left:20px;}

.list_tb{border:1px solid #c3c3c3; border-collapse:collapse;}
.list_tb td{border:1px solid #c3c3c3;}
.list_tb td a{color:#d40000; text-decoration:underline;}
.page{text-align:center; padding:24px 0;}
.page a{border:1px solid #f7f7f7; padding:6px 8px;}
.page .page_on{background:#d50808; color:#fff;padding:2px 10px;}
.page .page_left{background:url(../images/page_left.png) no-repeat 3px center; padding-left:15px;}
.page .page_right{background:url(../images/page_right.png) no-repeat 47px center; padding-right:15px;}

.other{height:100px; width:240px; padding:5px; border:1px solid #c4c4c4;}

.deposit_intro{line-height:24px;}
.deposit_intro strong{color:#dd0909;}
.deposit_msg{line-height:40px; font-size:14px; color:#dd0909; font-weight:bold; text-align:center; padding-top:25px;}
.deposit_tb{width:540px; margin:0 auto; border:1px solid #dedada; border-collapse:collapse;}
.deposit_tb td{border:1px solid #dedada;}
.btn_cnt{padding-top:30px;}

.reg_notice{padding-top:20px; text-align:center; line-height:22px; padding-bottom:30px;}
.reg_notice table{width:655px; border:1px solid #c8c8c8; border-collapse:collapse; margin:20px auto 0;}
.reg_notice table td{border:1px solid #c8c8c8; text-align:center;}
.reg_cert{width:530px; margin:0 auto 20px;}
.reg_cert_ipt{width:160px; border:1px solid #e1e1e1; height:22px; line-height:22px;}
.reg_top{width:980px; margin:0 auto; height:154px; border-bottom:2px solid #bc0101; position:relative;}
.reg_top_img{background:url(../images/reg_top.png); width:919px; height:148px; position:absolute; top:0; left:-100px;}
.reg_lang{position:absolute; right:160px; bottom:5px; z-index:1000;}
.reg_tb{ width:600px; margin:0 auto; }
.reg_tb .ckb{padding-right:5px;}

.account_cnt{width:830px; margin:0 auto; }
.account_left{ float:left; width:400px;}
.account_right{ float:right; width:425px; }
.account_ckb{margin-right:5px;}
.account_pry{width:200px; height:24px; line-height:24px;}
.account_tb{ width:100%; margin:0 auto; }
.account_tb font{color:#dd0909;}
.account_tb td{color:#000; border-bottom:1px solid #dedede; padding-left:10px;}
.account_tb_td{ padding-left:200px!important; }
.account_w{line-height:20px; padding:20px; background:#f4f4f4;}
.account_w a{color:#dd0909; text-decoration:underline;}
.red{color:#dd0909;}


.status{padding:10px; border:1px solid #407600; background:#ecfcd8; color:#407600; margin-bottom:20px;}
.status_red{background:#f8d6d6!important; border:1px solid #fd0404!important; color:#fd0404!important;}


/*登录*/
.login{width:715px; height:435px; background:url(../images/login.html); margin:80px auto 0;}
.login_navi{padding-left:80px; padding-top:55px; height:20px;}
.login_navi div{float:left; line-height:20px;}
.login_navi .back{background:url(../images/back.html) no-repeat left center; padding:0 20px;}
.login_navi .online{background:url(../images/online.html) no-repeat left center; padding:0 20px;}
.login_cnt{padding-top:90px; padding-left:190px;}
.login_ipt{width:150px!important;}
.login_vcode{width:80px; margin-right:4px;}
.login_btn{background:url(../images/login_btn.html); width:87px; height:44px; line-height:44px; padding-left:60px; color:#fff; float:left; margin-left:10px; cursor:pointer;}

.task{border:1px solid #9e4342; background:#f5d7d5 url(../images/notice.html) 170px center no-repeat; height:60px; margin-top:36px; text-align:center; line-height:28px; padding-top:10px;}
.current_new{line-height:22px; padding-top:34px; padding-left:24px;}
.agent_tb{width:750px; margin:0 auto 30px;}
.agent_tb table{border:1px solid #c3c3c3; border-collapse:collapse;}
.agent_tb table td{border:1px solid #c3c3c3; padding:0 4px;}
.copy_url{background:#ea4141; border:1px solid #c4b5b5; padding:0 10px; height:24px; line-height:24px; margin-left:5px; color:#fff;cursor:pointer}
.agent_btn li{float:left; background:url(../images/agent_arrow.gif); width:194px; height:61px; line-height:61px; padding-left:10px; margin:0 15px 40px;}
.agent_btn li a{ font-weight:bold;}

#mask{background:url(../images/mask.html); position:absolute; z-index:10; top:0; left:0; width:100%; display:none;}
.mask_cnt{width:750px; padding:20px; margin:0 auto; background:#fff; position:relative; zoom:1; overflow:hidden;}
.mask_top{height:44px; border-bottom:1px solid #cb0303;}
.mask_top .fl{line-height:34px; padding-top:10px;}
.mask_top .fl strong{font-size:16px; color:#dd0909; padding-right:24px;}
#close_mask{cursor:pointer;}
.adv_detail{padding-top:25px; text-align:center;}
.adv_page{line-height:35px; text-align:center; border-bottom:1px solid #cb0303;}
.adv_page a{margin:0 65px;}
.mask_left{float:left; width:270px; padding-top:10px; padding-left:20px;}
.mask_right{width:440px; float:right; padding-top:10px;}
.mask_left td a,.mask_right a{color:#dd0909; text-decoration:underline; margin:0 2px;}
.mask_right textarea{height:140px; width:438px; border:1px solid #acacac; overflow:hidden;}

.adv_w{padding:10px 0; border-bottom:1px solid #cb0303;}
.adv_w p{line-height:22px; padding-bottom:22px;}
.adv_slt{padding:25px 0; height:24px;}
.adv_slt div{float:left; line-height:24px; padding-right:4px;}
.adv_slt div select{padding:2px 5px; line-height:20px; margin-right:15px;}
.adv_list{padding-bottom:30px; zoom:1; overflow:hidden;}
.adv_list strong{color:#dd0909; line-height:30px;}
.adv_list .fr{width:480px; line-height:30px; color:#dd0909;}
.adv_list .fr table{border:1px solid #c3c3c3; border-collapse:collapse;}
.adv_list .fr table td{border:1px solid #c3c3c3; color:#dd0909; text-decoration:underline; text-align:center;}

.agent_list table{border:1px solid #c3c3c3; border-collapse:collapse;}
.agent_list table td{border:1px solid #c3c3c3;}


.report_intro strong{line-height:35px; font-size:16px;}
.report_intro span{padding-right:30px;}
.ammount{width:95px; height:22px; line-height:22px; border:1px solid #dedede; text-align:center;}


















.footer{background:#333333; border-top:1px solid #cccccc; height:80px; width:980px; margin:20px auto 0; clear:both;}
.footer_logo{float:left; padding:15px 17px 0;}
.footer_navi{float:right; padding:10px 0; line-height:30px;}
.footer_navi a{color:#999999; margin-right:20px;}
.copy{text-align:right; padding-right:20px; color:#999999}
